@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:wght@400;700&family=Righteous&family=Urbanist:wght@500;600&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #14110E;
  }

section{
  padding: 140px 375px;
  }

.heading{
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #C99E71;
}
   

.header{
    width: 100%;
    height: 125px;
}

.navbar {
    display: flex;
    align-items: center;
    margin:51px 0px 0px 100px;
    list-style: none;
    font-family:'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height:22px;
}

.navbar .navbar-logo{
    margin: 0px 253px 0 181px;
  }


.nav-menu_item{
    display: block;
    margin: 0px 48px;
   }

.nav-menu_item .active {
    color: #C99E71;
  }
.nav-menu_item .active:hover{
    color: #fff;
  }

.navbar > li > a{
    text-decoration: none;
    color: #fff;
   }

.navbar > li > a:hover{
    color: #C99E71;
   }
   /* .icon {
    display: block;
    margin: 0 48px;
  } */


  .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/img/Background.jpg) no-repeat;
    background-size: cover;
    background-position:center ;
  }

  .home .contend{
    max-width: 530px;
  }

  .home .content h2{
    font-family:'Righteous';
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
  }

  .home .content p{
    font-family:'Urbanist';
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    line-height: 36px;
  }

  .btn-home{
    margin-top: 24px;
    display: inline-block;
    padding: 24px 40px;
    font-family: 'Inter';
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background: #C99E71;
    cursor: pointer;
  
}

.btn-home:hover{
  letter-spacing: 5px;
}

.process{
    padding: 140px 0px 0 375px;
}

.process .cart-container{
  display: flex;
  max-width: 1170px;
}

.cart{
  display: block;
  margin: 0px 36px;
}

.cart p{
  font-family: 'Righteous';
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #fff;
  margin-bottom:24px;
}

.cart span{
  font-family: 'Righteous';
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #C99E71;
  margin: 0 12px 0 0;
}

.history{
  padding-top: 140px;
}

.history .holder{
  display: flex;
  max-width: 1170px;
  min-height: 635px;
}

.image {
  display: flex;
}

.img-1 img{
  margin-bottom:32px;
}

.image .img{
  margin: 0 32px;
}

.holder .content{
  padding: 120px 56px;
  height: 635px;
  border:.1rem solid #1C1814;
  background: #1C1814;
  border-radius: 34px;
}


.content h2{
  font-family: 'Righteous';
  font-size: 48px;
  font-weight: 400;
  line-height: 62px;
  text-align: left;
  color: #fff;
}
.content p{
  font-family: 'Urbanist';
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  text-transform: capitalize;
  text-align: left;
  color: #fff;
}

.products .heading{
  text-align: center;
}

.products h2{
  font-family: 'Righteous';
  font-size: 48px;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
  color:#fff;
  padding-bottom: 56px;
}

.products .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  gap: 1.5rem; 
}

.products .box-container .box{
  text-align: center;
  border:.1rem solid #1C1814;
  padding: 36px;
  background: #121315;
}

.products .box-container .box .image{
  padding: 48px;
}


.products p{
  font-family: 'Righteous';
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color:#fff;
  text-transform: uppercase;
}

.btn{
  width: 169px;
  height: 48px;
  background: #C99E71;
  margin: 0 auto;
}

.btn img{
  text-align: center;
}


.btn .btn-text{
  font-family: 'Urbanist';
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: none;
}

.btn-products{
  width: 252px;
  height: 62px;
}

.btn-products{
  margin:0 auto;
  display: block;
  padding: 20px 36px;
  font-family: 'Inter';
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background: #C99E71;
  cursor: pointer;
  margin-top: 56px;
}

.prise{
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
}

.prise span{
  color: #C99E71;
}

.CTA{
  padding: 0 0;
  display: flex;
  background: #1C1814;
  border:.1rem solid #1C1814;
  max-height: 530px;
  max-width: 1170px;
  margin-left: 375px;
}

.CTA .img{
  padding: 85px 169px;
}

.CTA .text h2{
  padding: 72px 0 36px 0;
  font-family: Righteous;
  font-size: 48px;
  font-weight: 400;
  line-height: 62px;
  color: #fff;
}

.CTA .text p{
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  color: #fff;
  text-transform: capitalize;
}

.CTA .text .btn-cta{
  width: 215px;
  height: 62px;
  margin:0 auto;
  display: block;
  padding: 20px 36px;
  font-family: 'Inter';
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background: #C99E71;
  cursor: pointer;
  margin-top: 56px
}

.menu{
  max-width: 1170px;
  max-height: 740px;
}

.menu h2{
  font-family: Righteous;
  font-size: 48px;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
  color: #fff;
  margin-bottom: 56px;
}

.menu .box-container{
  margin-left: 375px;
  display: flex;
  flex-wrap: wrap;
}

.menu .box-container .box{
  width: calc(100% / 3);
  margin-right: 40px;
  margin-bottom: 36px;
  display: flex;
  border:1px solid #32323D;
}

.menu .box-container .box img{
  margin: 24px 20px 24px 24px;
}

.menu .box-container .box h3{
  padding: 45px 20;
  font-family: Righteous;
  font-size: 24px;
  font-weight: 400;
  line-height: 110px;
  text-align: center;
  color: #fff;
}

.menu .box-container .box p{
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
  padding: 49px 24px 49px 117px ;
  color: #C99E71;
}

/* .review{
  max-width: 1170px;
  max-height: 549px;
} */

.review .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  gap: 1.5rem;;
}

.review .box-container .box .people{
  margin: 40px 24px 28px 24px;
}

.review .box-container .box{
  margin-right: 40px;
  background: #1C1814;
  border:.1rem solid #1C1814;
}

.review .heading{
  text-align: center;
}

.review h2{
  font-family: Righteous;
  font-size: 48px;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
  color: #fff;
  margin-bottom: 56px;
}

.review .box-container .box .comment{
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}